.Navbar {
  background-color: var(--primary);
  padding: 1rem;
  display: flex;
  gap: 1rem;
  color: var(--text-primary);
}

.Navbar a {
  text-decoration: none;
  color: var(--text-primary);
  font-weight: 500;
}

.Navbar a:hover {
  color: var(--primary-hover);
}
